{% load static %}

<html>
  
  <head><title>Store</title></head>
  <link rel='stylesheet' type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<link rel='stylesheet' type="text/css" href="homepage.css">-->
  <link rel='stylesheet' type="text/css" href="{% static 'ShoppingCart/store.css' %}">
  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" 
  crossorigin="anonymous"></script>
  <script src="store.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
     <nav>
            <a href="#" id="menu-icon"></a>
            <ul>
                <li><a href="" class="current">Home</a></li>
                <li><a href="" class="current">store</a></li>
            </ul>
        </nav>
  
  
     <body>   
        <!--<h1 id="main-header">{{ Brands.0.name }}</h1>-->
{% for item in Items %}

<div class="col-sm-6 col-lg-3">
                 <p>{{ item.name }}</p>        
                <section>
                        
                        <img src="{% static item.static_url %}"></img>
                </section>
                <aside>
                <p>price: ${{ item.price }}</p>
                <p>stock: {{ item.quantity }}</p>
                </aside>
                 <div class="button" id="ps4"><form action="{% url 'rent' item.id %}"><input type="submit" value="Rent"><center></input></form><center></div>
        </div>
{% endfor %}
      <center>  <div id="total">
        <p>Tax: $0.0</p>
        <p>total: $0</p>
        <button  id="submit">submit</button>
        <div id="receipt"></div>
        <div id="total_price">0</div>
        </div></center>


<footer id="footer">
<p>&copy; Adam Tutor</br></p>
</footer>

        <html>