{% load static %}

<html>
  
  <head><title>Store</title></head>
  <link rel='stylesheet' type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<link rel='stylesheet' type="text/css" href="homepage.css">-->
  <link rel='stylesheet' type="text/css" href="{% static 'ShoppingCart/store.css' %}">
  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" 
  crossorigin="anonymous"></script>
  <script src="store.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
     <nav>
            <a href="#" id="menu-icon"></a>
            <ul>
                <li><a href="" class="current">Home</a></li>
                <li><a href="" class="current">store</a></li>
            </ul>
        </nav>
  
  
     <body>
        <!--<h1 id="main-header">{{ Brands.0.name }}</h1>-->
        {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% for item in Items %}

<div class="col-sm-6 col-lg-3">
                 <p>{{ item.name }}</p>        
                <section>
                        
                        <img src="{% static item.static_url %}"></img>
                </section>
                <aside>
                <p>price: ${{ item.price }}</p>
                <p>stock: {{ item.quantity }}</p>
                </aside>
                 <div class="button"><input class="rent" id="{{item.name}}" type="submit" value="Rent"><center></input><center></div>
                  <div class="button"><input class="return" type="submit" value="Return"><center></input></div>
        </div>
{% endfor %}
      <center>  <div id="total">
        <p>Tax: $0.0</p>
        <p>total: $0</p>
        <form id="submit" action="url" method=POST>
        <input type="submit" >checkout</input>
        </form>
        <div id="receipt"></div>
        <div id="total_price">0</div>
        </div></center>




<script>
var ShoppingCart = []
var data = {{ Json_dump|safe }}
$(".rent").click(function(){
var name = this.id;
ShoppingCart.push(data[name])



});

$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

$("#submit").click(function() {
 $.ajax({
   url: '/cart/',
   type: 'POST',
   data: JSON.stringify({data: ShoppingCart}),
   contentType:'application/json',
   success: function(data){
        $("body").html(data).addClass("cart_body");

    }
 })
 return false;
});

</script>



<footer id="footer">
</footer>        <html>